
<div class="phonesubmission">
  <div class="form-textbox">
    <p id="notice"><%= notice %></p>
      <p>
        <strong>Phone number:</strong>
        <%= @trip.phone_number %>
      </p>
  </div>

  <div class="clearbtn">
    <%= link_to 'Re-enter your number', new_trip_path %>
  </div>
</div>
