/* line 1, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #F1F1F1;
}

@font-face {
  font-family: 'soleilRegular';
  src: url(/fonts/fonts/Soleil_Regular.otf) format("truetype");
}
@font-face {
  font-family: "soleilSemibold";
  src: url(/fonts/fonts/Soleil_Semibold.otf);
}
@font-face {
  font-family: "soleilBold";
  src: url(/fonts/fonts/Soleil_Bold.otf);
}
/* line 21, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
h1 {
  font-family: "soleilSemibold", Arial;
}

/* line 26, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
input[type=submit] {
  width: 288px;
  margin-bottom: 162px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: #00BBEF;
  box-shadow: 0 3px 0 0 #026985;
  border-radius: 100px;
  font-family: "soleilBold", Arial;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

/* line 44, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
input[type=text] {
  width: 268px;
  margin-bottom: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: #FFFFFF;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: #231F20;
  font-family: "soleilRegular", Arial;
  font-size: 16px;
  color: #666666;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

/* line 64, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
.clearbtn {
  width: 288px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: #00BBEF;
  box-shadow: 0 3px 0 0 #026985;
  border-radius: 100px;
  font-family: "soleilBold", Arial;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

/* line 81, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
.title {
  margin: 0 auto;
  text-align: center;
}

/* line 86, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
.phonesubmission {
  margin: 0 auto;
  text-align: center;
}

/* line 91, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
.instructions {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 54px;
  font-family: "soleilRegular", Arial;
}

/* line 99, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
.service-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 54px;
  font-family: "soleilRegular", Arial;
  border-style: solid;
  border-width: 2px;
  width: 355px;
  margin-left: auto;
  margin-right: auto;
  color: #404040;
  padding-bottom: 12px;
}

/* line 114, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
.footer {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 54px;
  font-family: "soleilRegular", Arial;
}

/* line 122, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
.footer a {
  color: #00BBEF;
}

@media screen and (max-width: 480px) {
  /* line 128, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
  h1 {
    font-family: "soleilSemibold";
    font-size: 18pt;
  }

  /* line 133, /Users/oldmac/Desktop/Projects/qr-sms/qr-sms/app/assets/stylesheets/scaffolds.scss */
  p {
    font-size: 10pt;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

