body
{
	background-color: #F1F1F1;
}

@font-face{
	font-family: 'soleilRegular';
	src: font-url('Soleil_Regular.otf') format("truetype");
}

@font-face{
	font-family: "soleilSemibold";
	src: font-url("Soleil_Semibold.otf") format("truetype");
}

@font-face{
	font-family: "soleilBold";
	src: font-url("Soleil_Bold.otf") format("truetype");
}

h1{
	font-family: "soleilSemibold", Arial;

}

input[type=submit]{
	width:	288px;
	margin-bottom:	25px;
	padding-top:	13px;
	padding-bottom:	13px;
	background:	#00BBEF;
	box-shadow:	0 3px 0 0 #026985;
	border-radius:	100px;
	font-family: "soleilBold", Arial;
	font-size:	16px;
	color:	#FFFFFF;
	line-height:	27px;
	margin-left:	auto;
	margin-right:	auto;
	border:none;

}

input[type=text]{
	width:	268px;
	margin-bottom:	25px;
	padding-top:	13px;
	padding-bottom:	13px;
	background:	#FFFFFF;
	border-radius:	100px;
	border-width:	1px;
	border-style:	solid;
	border-color:	#231F20;
	font-family:	"soleilRegular", Arial;
	font-size:	16px;
	color:	#666666;
	line-height:	27px;
	margin-left:	auto;
	margin-right:	auto;
	padding-left: 20px;

}

.clearbtn{
  width:	288px;
  margin-bottom:	137px;
	padding-top:	13px;
	padding-bottom:	13px;
	background:	#F79044;
	box-shadow:	0 3px 0 0 #026985;
	border-radius:	100px;
	line-height:	27px;
	margin-left:	auto;
	margin-right:	auto;
	border:none;
}

.clearbtn a:link, .clearbtn a:visited, .clearbtn a:hover, .clearbtn a:active, {
    text-decoration:none;
    font-family: "soleilBold", Arial;
    font-size:	16px;
    color:	#FFFFFF;
}

.title{
	margin: 0 auto;
	text-align: center;
}

.phonesubmission{
	margin: 0 auto;
	text-align:center;
}

.instructions{
	margin: 0 auto;
	text-align: center;
	margin-bottom:54px;
	font-family:	"soleilRegular", Arial;

}

.service-container{
	margin: 0 auto;
	text-align: center;
	margin-bottom:54px;
	font-family:	"soleilRegular", Arial;
	border-style: solid;
	border-width:2px;
	width:355px;
	margin-left:auto;
	margin-right:auto;
	color:#404040;
	padding-bottom:12px;

}

.footer{
	margin: 0 auto;
	text-align: center;
	margin-bottom:54px;
	font-family:	"soleilRegular", Arial;

}

.footer a{
	color:#00BBEF;
}


// @media screen and (max-width: 480px) {
//    h1{
// 	font-family: "soleilSemibold";
// 	font-size:18pt;
// }
//
// 	p{
// 		font-size:10pt;
// 	}
// }
